<div class="card large form">
  <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="First Name" id="first_name" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <input placeholder="Last Name" id="last_name" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="disabled" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Position" id="position" type="text" class="validate">
      </div>
    </div>
    <div class="row center">
      <button class="btn waves-effect btn-large pink lighten-2" type="submit" name="action">Submit
      </button>
    </div>
  </form>
  </div>
</div>
