<div class="card large form">
  <div class="row">
  <form class="col s12" [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Name" type="text" class="validate" formControlName="name">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" type="text" class="validate" formControlName="email">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Position" type="text" class="validate" formControlName="position">
      </div>
    </div>
    <div class="row center">
      <button class="btn waves-effect btn-large pink lighten-2" type="submit" name="action">Submit
      </button>
    </div>
  </form>
  </div>
</div>
